.sidebar{
    width: 18%;
    min-height: 96vh;
    border: 0.25px solid lightblue;
    font-size: max(1vw, 10px);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    background-color: white;
    text-align: center; 
}
.sidebar h2{
    font-size: 24px;
    font-weight: 500;
    text-align: start;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 20px;
    text-shadow: 2px 4px 5px rgba(3, 41, 79, 0.799);

}

.sidebar-options{
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 3px solid #a9a9a9;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
}

.sidebar-option.active{
    background-color: white;
    border-color: lightblue;
}
.sidebar button{
    width: 80%;
    padding: 15px;
    border: none;
    background-color: white;
    border-radius: 8px;

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.sidebar .btnText{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 17px;
}

@media (max-width:900px) {
    .sidebar-option p{
        display: none;
    }    
}