.registerContainer {
    margin: 0 auto;
    width: 800px;
    height: 700px;
    text-align: center;
    border-radius: 12px;
    margin-top: 200px;
    margin-left: 550px;
  }
  .loginWrapper1 {
    border: 1px solid lightblue;
    margin: 0 auto;
    width: 70%;
    height: 450px;
    border-radius: 12px;
  }
  .registerContainer input {
    border: 1px solid lightblue;
    width: 240px;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
  }
  .registerContainer button {
    border: 1px solid lightblue;
    width: 150px;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
  }
  .registerContainer button:hover {
    transform: scale(1.13);
  }
  
  .registerContainer h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(77, 218, 249, 0.829);
  }
  .inputNameAdmin1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 46px;
  }
  .inputUserAdmin1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 53px;
  }
  .inputPasswordAdmin1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .loginRegister1 {
    margin-top: 30px;
  }
  #registerContext1 {
    color: rgb(68, 185, 243);
    text-decoration: underline;
    margin-left: 230px;
  }
  #registerContext1:hover {
    transform: scale(1.13);
    color: rgb(34, 139, 230);
  }
  